###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.inf text working-tree-encoding=UTF-16LE-BOM
*.inx text working-tree-encoding=UTF-16LE-BOM
